<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>title</title>
</head>
<body>
  <p>パスコードをお送りします</p>
  <h1 style="background-color: #e9e9e980;letter-spacing: .35rem;display: inline;padding: 10px">{{.Code}}</h1>
  <p>このAPIシステムは仮なので、ユーザー自ら以下のapiを実行してください<br />ユーザーが有効になります</p>
  <div style="background-color: #e9e9e980;padding: 10px;">
    <code>
      curl -X POST {{.Url}}/passcode/{{.CodeId}}/{{.UserId}} \<br />
      -H "Content-Type: application/json" \<br />
      -d '{<br />
          "passcode": "{{.Code}}"<br />
      }'
  </code>
  </div>
</body>
</html>
